[submodule "D3D12_UniformShadowMap/external/asdx12"]
	path = D3D12_UniformShadowMap/external/asdx12
	url = https://github.com/ProjectAsura/asdx12.git
[submodule "D3D12_Sprite/external/asdx12"]
	path = D3D12_Sprite/external/asdx12
	url = https://github.com/ProjectAsura/asdx12.git
[submodule "D3D12_SdfFont/external/asdx12"]
	path = D3D12_SdfFont/external/asdx12
	url = https://github.com/ProjectAsura/asdx12.git
[submodule "D3D12_MovieTexture/external/asdx12"]
	path = D3D12_MovieTexture/external/asdx12
	url = https://github.com/ProjectAsura/asdx12.git
[submodule "D3D12_Fade/external/asdx12"]
	path = D3D12_Fade/external/asdx12
	url = https://github.com/ProjectAsura/asdx12.git
[submodule "D3D12_ColorFilter/external/asdx12"]
	path = D3D12_ColorFilter/external/asdx12
	url = https://github.com/ProjectAsura/asdx12.git
[submodule "D3D12_RadialBlur/external/asdx12"]
	path = D3D12_RadialBlur/external/asdx12
	url = https://github.com/ProjectAsura/asdx12.git
